.user-panel {
    width: 100%;
    height: 83%;
    display: flex;
}

.left-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-part {
    width: 100%;
    height: 70%;
    background-color: var(--grey);
    padding: 2.5%;
    box-sizing: border-box;
    font-size: 90%;
}

.top-part-part {
    width: 100%;
    height: 48.75%;
    box-sizing: border-box;
}

.top-part-part:last-child {
    margin-top: 2.5%;
}

.top-part-part-header {
    width: 100%;
    height: 16%;
    font-size: 100%;
}

.top-part-part-data {
    width: 100%;
    height: 84%;
}

.top-part-data-row {
    width: 95%;
    height: calc(100% / 3);
    box-sizing: border-box;
    float: right;
    display: flex;
    align-items: center;
}

.top-part-row-value {
    margin-left: 2%;
}

.bot-part {
    width: 100%;
    height: 30%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    box-sizing: border-box;
    padding: 2.5% 2.5% 0 2.5%;
}

#bot-part-header {
    font-size: 130%;
}

.hallinta-button {
    width: 100%;
    height: 25%;
}

.right-part {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 1.25%;
}

#list-of-users {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    box-sizing: border-box;
    background-color: var(--grey2);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1%;
}

.adm-user-block {
    width: 95%;
    height: 15%;
    background-color: var(--grey);
    margin: 2%;
    border-radius: 1%;
    font-size: 70%;
    padding: 2%;
    box-sizing: border-box;
}

.adm-user-block button {
    font-size: 90%;
    width: 100%;
    margin-left: 0;
}

.status-name-block {
    width: 100%;
    height: 30%;
    display: flex;
}

.user-id-block {
    width: 100%;
    height: 30%;
    display: flex;
}

.del-button-block {
    background-color: red;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
}

.status-piece {
    width: 30%;
    height: 100%;
    text-align: right;
}

.name-piece {
    height: 100%;
    margin-left: 2%;
}

.second-name-piece {
    margin-left: 2%;
    height: 100%;
}

.user-id-header {
    width: 20%;
    height: 100%;
    text-align: right;
    margin-left: 5%;
}

.user-id-value {
    width: 73%;
    height: 100%;
    margin-left: 2%;
}

.del-user-button {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    font-size: clamp(10px, 1.75vh, 20px);
}

.mod12-row {
    display: flex;
    margin-top: 1%;
    font-size: 80%;
}

.mod12-table:last-child {
    margin-bottom: 1%;
}

.mod12-row-header {
    width: 50%;
    min-width: 120px;
}

.mod12-row-input {
    border: 1px solid black;
    width: 60%;
}

.mod12-new-pat {
    width: 60%;
    background-color: orange;
    margin-left: 20%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

#luo-uusi-pot {
    width: 100%;
}

.mod19-body-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.mod19-body-body {
    width: 100%;
    height: 85%;
}

.mod19-id-block, .mod19-type-block {
    display: flex;
    box-sizing: border-box;
    width: 20%;
}

.mod12-row-header {
    width: 32%;
}

.mod19-value-block {
    margin-left: 5%;
    box-sizing: border-box;
}