.doc-buttons {
    width: 95%;
    height: 12%;
    background-color: brown;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc-button {
    width: 40%;
    height: 60%;
}

#doc-patients {
    width: 100%;
    height: 70%;
    border: 3px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1%;
}

.patient-block {
    width: 94%;
    height: 35%;
    margin: 2%;
    margin-left: 3%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 1%;
    background-color: darkolivegreen;
}

.patient-block-header {
    width: 100%;
    height: 20%;
    background-color: aqua;
    display: flex;
}

.patient-block-header-status-name {
    width: 70%;
    height: 100%;
    display: flex;
    background-color: darkgreen;
}

.patient-block-header-status {
    width: 20%;
    min-width: 85px;
    height: 100%;
    background-color: grey;
}

.patient-block-header-name {
    width: 78%;
    height: 100%;
    margin-left: 2%;
    background-color: darkgrey;
}

.patient-block-header-id {
    width: 30%;
    height: 100%;
    display: flex;
    background-color: blueviolet;
}

.patient-block-header-id-head {
    width: 80%;
    height: 100%;
    text-align: right;
    background-color: blue;
}

.patient-block-header-id-value {
    width: 18%;
    height: 100%;
    margin-left: 2%;
    background-color: darkblue;
}

.patient-block-hrv {
    width: 100%;
    height: 20%;
    background-color: blue;
    display: flex;
    font-size: 90%;
}

.patient-block-hrv-header {
    width: 15%;
    height: 100%;
    text-align: right;
    background-color: aquamarine;
}

.patient-block-hrv-value {
    width: 84%;
    height: 100%;
    margin-left: 1%;
    background-color: aqua;
}

.patient-block-buttons {
    width: 100%;
    height: 60%;
    display: flex;
    background-color: cadetblue;
}

.patient-block-buttons-part {
    height: 100%;
    width: 50%;
}

.patient-block-button {
    width: 98%;
    height: 39%;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 70%;
    box-sizing: border-box;
    border-radius: 3%;
}

.alarm-dia-metrics {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: darkblue;
}

.alarm-dia-add-metric {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: green;
    min-width: 40px;
    margin-right: 2%;
}

#alarm-dia-main-info {
    display: flex;
}

.alarm-dia-add-part {
    display: flex;
    width: 100%;
}

#alarm-id {
    display: none;
}

.doc-but-header-part {
    display: flex;
    border: 2px solid black;
    background-color: brown;
    box-sizing: border-box;
    width: 104%;
    gap: 2%;
}

.mod8-row {
    display: flex;
}

.header-block {
    width: 15%;
    background-color: aqua;
    min-width: 67px;
}

.data-block {
    text-align: left;
    width: 100%;
    background-color: brown;
}

.mod8-buttons {
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    min-height: 35px;
}

.mod8-button {
    width: 40%;
    background-color: blue;
}

.mod8-ai-button {
    width: 100%;
    height: 100%;
}

.mod10-table {
    display: flex;
    width: 90%;
    margin-left: 5%;
}

.mod10-table-half {
    width: 50%;
    display: flex;
}

.mod10-table-column:nth-child(2) {
    width: 50%;
}

.mod10-table-column-value {
    margin-left: 10%;
}

.mod10-buttons {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.mod10-button {
    width: 40%;
    min-width: 100px;
    background-color: blue;
}

.mod10-nav-button {
    width: 100%;
}

.mod11-suositus-block {
    display: flex;
    width: 100%;
    background-color: green;
}

.mod11-data-part {
    width: 100%;
    box-sizing: border-box;
}

.mod11-value-row {
    margin-left: 3%;
    width: 97%;
    background-color: blue;
    box-sizing: border-box;
    min-height: 30px;
}

#mod11-new-suositus {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.mod12-row {
    display: flex;
    margin-top: 1%;
}

.mod12-table:last-child {
    margin-bottom: 1%;
}

.mod12-row-header {
    width: 50%;
}

.mod12-row-input {
    border: 1px solid black;
    width: 60%;
}

.mod12-new-pat {
    width: 60%;
    background-color: orange;
    margin-left: 20%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.mod12-row-value {
    background-color: green;
}

#luo-uusi-pot {
    width: 100%;
}



