.doc-buttons {
    width: 95%;
    height: 7%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
}

.doc-button {
    width: 45%;
    height: 80%;
    margin-top: 0;
}

#doc-patients {
    width: 100%;
    height: 80%;
    border: 5px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1%;
    background-color: var(--grey2);
}

.patient-block {
    width: 97%;
    height: 30%;
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 1%;
    background-color: var(--grey);
}

.patient-block-header {
    width: 100%;
    height: 20%;
    display: flex;
}

.patient-block-header-status-name {
    width: 70%;
    height: 100%;
    display: flex;
}

.patient-block-header-status {
    width: 20%;
    min-width: 85px;
    height: 100%;
}

.patient-block-header-name {
    width: 78%;
    height: 100%;
    margin-left: 2%;
}

.patient-block-header-id {
    width: 30%;
    height: 100%;
    display: flex;
}

.patient-block-header-id-head {
    width: 80%;
    height: 100%;
    text-align: right;
}

.patient-block-header-id-value {
    width: 18%;
    height: 100%;
    margin-left: 2%;
}

.patient-block-hrv {
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 90%;
}

.patient-block-hrv-header {
    width: 15%;
    height: 100%;
    text-align: right;
}

.patient-block-hrv-value {
    width: 84%;
    height: 100%;
    margin-left: 1%;
}

.patient-block-buttons {
    width: 100%;
    height: 60%;
    display: flex;
}

.patient-block-buttons-part {
    height: 100%;
    width: 50%;
}

.patient-block-button {
    width: 98%;
    height: 43%;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 70%;
    box-sizing: border-box;
    border-radius: 3%;
}

.alarm-dia-metrics {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.alarm-dia-add-metric {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 40px;
    margin-right: 2%;
}

#alarm-dia-main-info {
    display: flex;
}

.alarm-dia-add-part {
    display: flex;
    width: 100%;
}

#alarm-id {
    display: none;
}

.doc-but-header-part {
    display: flex;
    box-sizing: border-box;
    width: 104%;
    gap: 2%;
}

.mod8-row {
    display: flex;
}

.header-block {
    width: 15%;
    min-width: 67px;
}

.data-block {
    text-align: left;
    width: 100%;
}

.mod8-buttons {
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    min-height: 35px;
}

.mod8-button {
    width: 40%;
}

.mod8-ai-button {
    width: 100%;
    height: 100%;
}

.mod10-table {
    display: flex;
    width: 90%;
    margin-left: 5%;
}

.mod10-table-half {
    width: 50%;
    display: flex;
}

.mod10-table-column:nth-child(2) {
    width: 50%;
}

.mod10-table-column-value {
    margin-left: 10%;
}

.mod10-buttons {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.mod10-button {
    width: 40%;
    min-width: 100px;
}

.mod10-nav-button {
    width: 100%;
}

.mod11-suositus-block {
    display: flex;
    width: 100%;
}

.mod11-data-part {
    width: 100%;
    box-sizing: border-box;
}

.mod11-value-row {
    margin-left: 3%;
    width: 97%;
    box-sizing: border-box;
    min-height: 30px;
}

#mod11-new-suositus {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.mod12-row {
    display: flex;
    margin-top: 1%;
}

.mod12-table:last-child {
    margin-bottom: 1%;
}

.mod12-row-header {
    width: 50%;
}

.mod12-row-input {
    border: 1px solid black;
    width: 60%;
}

.mod12-new-pat {
    width: 60%;
    background-color: orange;
    margin-left: 20%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

#luo-uusi-pot {
    width: 100%;
}

.mod20-row-header {
    min-width: 100px;
}



