:root {
    font-family: 'Lexend', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: indigo;
    color: rgba(255, 255, 255, 0.87);
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-color: red;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* укажи диапазон весов */
    font-style: normal;
}

body {
    margin: auto;
    padding-top: 5%;
}

.main-block {
    width: 125vh;
    height: 75vh;
    min-width: 640px;
    min-height: 720px;
    box-sizing: border-box;
    margin: auto;
}