.patient-info {
    width: 100%;
    height: calc(80% / 3);
    display: flex;
    background-color: brown;
    box-sizing: border-box;
    padding: 3%;
}

.patient-info-main {
    width: 50%;
    height: 100%;
    background-color: darkmagenta;
}

.patient-info-main-block {
    width: 100%;
    height: calc(100% / 3);
    background-color: darkred;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.patient-info-main-header {
    background-color: blueviolet;
}

.patient-info-main-value {
    min-width: 65%;
    max-width: 98%;
    margin-left: 2%;
    background-color: chocolate;
}

.patient-buttons {
    width: 100%;
    height: calc(80% / 3);
    background-color: darkblue;
    padding: 3%;
    box-sizing: border-box;
}

.patient-buttons-row {
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.patient-buttons-row:last-child {
    background-color: blueviolet;
    align-items: end;
}

.patient-buttons-top {
    width: 100%;
    height: 85%;
}

.patient-buttons-bottom {
    width: 31.3%;
    height: 85%;
}

.patient-ai {
    width: 100%;
    height: calc(80% / 3);
    background-color: burlywood;
    padding: 3%;
    box-sizing: border-box;
}

.patient-ai-header {
    width: 100%;
    height: 20%;
    background-color: aqua;
}

.patient-ai-body {
    width: 100%;
    height: 80%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#patient-ai-text {
    box-sizing: border-box;
    background-color: aquamarine;
    margin: auto;
    max-width: 95%;
    max-height: 100%
}

.patient-alarm {
    width: 100%;
    height: 10%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    background-color: brown;
}

#patient-alarm-button {
    width: 100%;
    height: 100%;
    background-color: #880015;
}

.hrv-kaavio-row {
    width: 100%;
    background-color: green;
    display: flex;
}

.hrv-kaavio-row-header {
    width: 35%;
    background-color: #880015;
}

.hrv-kaavio-row-graph {
    flex-grow: 1;
    height: 100%;
    border: 2px solid black;
    background-color: blue;
    position: relative;
}

.kaavio-graph {
    height: 100%;
    width: 0; /* будет меняться через JS */
    background-color: pink; /* цвет заполнения */
    transition: width 0.5s ease; /* плавная анимация изменения ширины */
    border-radius: 10px 0 0 10px; /* скруглённый левый край */
    position: absolute;
    left: 0;
    top: 0;
}

.hrv-kaavio-row-value {
    width: 20%;
    background-color: blueviolet;
    text-align: center;
}

#dia-mittari-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dia-mittari-status-block {
    display: flex;
}

#dia-mittari-status {
    margin-left: 2%;
    background-color: #3D3D3D;
}

.alarm-block-dia {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: aqua;
    box-sizing: border-box;
}

.alarm-symb-block {
    width: 5%;
    height: 100%;
    background-color: aliceblue;
}

.alarm-text-block {
    width: 95%;
    height: 100%;
    background-color: #3D3D3D;
}

#alarm-button-div {
    width: 100%;
    background-color: blue;
}

#alarm-dia-button {
    width: 100%;
    padding: 2%;
}

.mod12-row {
    display: flex;
    font-size: 90%;
    justify-content: space-between;
}

.mod12-row-cell {
    display: flex;
    width: calc(90%/4)
}

.mod4-row {
    display: flex;
}

.mod5 {
    display: flex;
    margin-bottom: 5%;
}

.mod5-oire {
    font-size: 90%;
    display: flex;
    width: 50%;
}

.mod5-body {
    width: 100%;
}

.mod5-oiretext {
    width: 100%;
}

#mod5-oire-text {
    width: 85%;
}